body {
	background-color: #333333;
	
}

h1 {
	font-size: 64px;
	font-family: Courier;
	color: #006600;
	text-align: center;

}

h2 {
	font-size: 36px;
	font-family: Courier;
	color: #006600;
	text-align: center;
	font-variant: italic;
}

p {
	font-size: 18px;px;
	color: #A8A8A8;
	margin-right: 200px;
	margin-left: 200px;
}

.pullquote {
	padding: 50px;
	margin: 10px;
	font-family: Courier;
	color: #006600;
}

.intro {
	font-size: 24px;
}

.floatleft {
float:left;
margin: 1.5%;
width: 50%;
}


.photo{
	width: 100%;
	border: 1%;
}

.caption {
	width: 100%;
	text-align: left;
	font-size: 80%;
	color: white
}